* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::after {
    box-sizing: border-box;
}

*::before {
    box-sizing: border-box;
}

#html {
    word-break: break-all;
}

#div1 {
    position: fixed;
    top: 30px;
    right: 30px;
    left: 50%;
    top: 100px;
    transform: translate(-50%);
}

#div1::before {
    /* 通过 #div1::before 和 #div1::after 在div的前面和后面创建两个 span */
    content: '';
    /* 不能删除 content ，要不然 span 会消失 */
    display: block;
    position: absolute;
}

#div1::after {
    content: '';
    display: block;
    position: absolute;
}

@media(max-width:500px) {
    #html {
        height: 60vh;
        overflow: auto;
    }

    #div1Wrapper {
        height: 40vh;
    }

    #div1 {
        position: relative;
        bottom: 0;
        right: 0;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}